/* stylelint-disable order/properties-order */
.foremansPage {
  padding: 40px 30px;
  color: white;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header__btns{
  display: flex;
  gap: 25px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
